.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}
.icon-addFolder{
	background:url('icons/folder.gif') no-repeat;
}
.icon-addFunction{
	background:url('icons/globe.gif') no-repeat;
}
.icon-folder{
	background:url('icons/folder.gif') no-repeat;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}
.icon-up{
	background:url('icons/up.gif') no-repeat;
}
.icon-down{
	background:url('icons/down.gif') no-repeat;
}.icon-10{
	 background:url('icons/10.gif') no-repeat;
}
.icon-105{
	 background:url('icons/105.gif') no-repeat;
}
.icon-11{
	 background:url('icons/11.gif') no-repeat;
}
.icon-112{
	 background:url('icons/112.gif') no-repeat;
}
.icon-113{
	 background:url('icons/113.gif') no-repeat;
}
.icon-115{
	 background:url('icons/115.gif') no-repeat;
}
.icon-116{
	 background:url('icons/116.gif') no-repeat;
}
.icon-11_s{
	 background:url('icons/11_s.gif') no-repeat;
}
.icon-125{
	 background:url('icons/125.jpg') no-repeat;
}
.icon-129{
	 background:url('icons/129.gif') no-repeat;
}
.icon-129_s{
	 background:url('icons/129_s.gif') no-repeat;
}
.icon-13{
	 background:url('icons/13.gif') no-repeat;
}
.icon-130{
	 background:url('icons/130.gif') no-repeat;
}
.icon-137{
	 background:url('icons/137.gif') no-repeat;
}
.icon-138{
	 background:url('icons/138.gif') no-repeat;
}
.icon-140{
	 background:url('icons/140.gif') no-repeat;
}
.icon-141{
	 background:url('icons/141.gif') no-repeat;
}
.icon-142{
	 background:url('icons/142.gif') no-repeat;
}
.icon-143{
	 background:url('icons/143.gif') no-repeat;
}
.icon-144{
	 background:url('icons/144.gif') no-repeat;
}
.icon-145{
	 background:url('icons/145.gif') no-repeat;
}
.icon-146{
	 background:url('icons/146.gif') no-repeat;
}
.icon-162{
	 background:url('icons/162.gif') no-repeat;
}
.icon-163{
	 background:url('icons/163.gif') no-repeat;
}
.icon-164{
	 background:url('icons/164.gif') no-repeat;
}
.icon-165{
	 background:url('icons/165.gif') no-repeat;
}
.icon-168{
	 background:url('icons/168.gif') no-repeat;
}
.icon-169{
	 background:url('icons/169.gif') no-repeat;
}
.icon-17{
	 background:url('icons/17.gif') no-repeat;
}
.icon-173{
	 background:url('icons/173.gif') no-repeat;
}
.icon-178{
	 background:url('icons/178.gif') no-repeat;
}
.icon-179{
	 background:url('icons/179.gif') no-repeat;
}
.icon-18{
	 background:url('icons/18.gif') no-repeat;
}
.icon-180{
	 background:url('icons/180.gif') no-repeat;
}
.icon-196{
	 background:url('icons/196.gif') no-repeat;
}
.icon-1_close{
	 background:url('icons/1_close.png') no-repeat;
}
.icon-1_open{
	 background:url('icons/1_open.png') no-repeat;
}
.icon-2{
	 background:url('icons/2.png') no-repeat;
}
.icon-201{
	 background:url('icons/201.gif') no-repeat;
}
.icon-202{
	 background:url('icons/202.gif') no-repeat;
}
.icon-205{
	 background:url('icons/205.gif') no-repeat;
}
.icon-206{
	 background:url('icons/206.gif') no-repeat;
}
.icon-207{
	 background:url('icons/207.gif') no-repeat;
}
.icon-208{
	 background:url('icons/208.gif') no-repeat;
}
.icon-209{
	 background:url('icons/209.gif') no-repeat;
}
.icon-210{
	 background:url('icons/210.gif') no-repeat;
}
.icon-22{
	 background:url('icons/22.gif') no-repeat;
}
.icon-24{
	 background:url('icons/24.gif') no-repeat;
}
.icon-26{
	 background:url('icons/26.gif') no-repeat;
}
.icon-3{
	 background:url('icons/3.gif') no-repeat;
}
.icon-3{
	 background:url('icons/3.png') no-repeat;
}
.icon-31{
	 background:url('icons/31.gif') no-repeat;
}
.icon-4{
	 background:url('icons/4.png') no-repeat;
}
.icon-40{
	 background:url('icons/40.gif') no-repeat;
}
.icon-41{
	 background:url('icons/41.gif') no-repeat;
}
.icon-5{
	 background:url('icons/5.png') no-repeat;
}
.icon-59{
	 background:url('icons/59.gif') no-repeat;
}
.icon-6{
	 background:url('icons/6.png') no-repeat;
}
.icon-60{
	 background:url('icons/60.gif') no-repeat;
}
.icon-62{
	 background:url('icons/62.gif') no-repeat;
}
.icon-63{
	 background:url('icons/63.gif') no-repeat;
}
.icon-66{
	 background:url('icons/66.gif') no-repeat;
}
.icon-69{
	 background:url('icons/69.gif') no-repeat;
}
.icon-7{
	 background:url('icons/7.png') no-repeat;
}
.icon-72{
	 background:url('icons/72.gif') no-repeat;
}
.icon-74{
	 background:url('icons/74.gif') no-repeat;
}
.icon-75{
	 background:url('icons/75.gif') no-repeat;
}
.icon-77{
	 background:url('icons/77.gif') no-repeat;
}
.icon-78{
	 background:url('icons/78.gif') no-repeat;
}
.icon-79{
	 background:url('icons/79.gif') no-repeat;
}
.icon-8{
	 background:url('icons/8.png') no-repeat;
}
.icon-80{
	 background:url('icons/80.gif') no-repeat;
}
.icon-83{
	 background:url('icons/83.gif') no-repeat;
}
.icon-85{
	 background:url('icons/85.gif') no-repeat;
}
.icon-85s{
	 background:url('icons/85s.gif') no-repeat;
}
.icon-87{
	 background:url('icons/87.gif') no-repeat;
}
.icon-88{
	 background:url('icons/88.gif') no-repeat;
}
.icon-9{
	 background:url('icons/9.png') no-repeat;
}
.icon-90{
	 background:url('icons/90.gif') no-repeat;
}
.icon-93{
	 background:url('icons/93.gif') no-repeat;
}
.icon-94{
	 background:url('icons/94.gif') no-repeat;
}
.icon-95{
	 background:url('icons/95.gif') no-repeat;
}
.icon-98{
	 background:url('icons/98.gif') no-repeat;
}
