@CHARSET "UTF-8";

body {
	FONT-SIZE: 12px;
	BACKGROUND: #FFFFFF;
	margin:0;
	overflow:auto;
	padding:0;
}

.container {
	min-width: 1400px;
}

.leftDiv {
	width: 330px;
	height:573px;
	float: left;
	overflow: scroll;
}

.leftMenuDiv {
	width: 322px;
	height: 20px;
	padding: 5px;
	background: #E8F1FF;
}

.treeDiv {
	width: 330px;
	height: 500px;
	overflow: auto;
	margin-top: 1px;
}

.rightDiv{
	width:865px;float: left;
	height: 573px;
}